.mySwiper9 {
  /* Добавляем отступы по бокам, чтобы стрелки не закрывали контент */
  /* padding: 0 40px !important;  */
   height: 500px;
}
/* .mySwiper9 .swiper-wrapper{
  Добавляем отступы по бокам, чтобы стрелки не закрывали контент */
  /* padding: 0 40px !important; 
  height: 500px;
} */

@media (min-width: 969px) and (max-width: 1600px) {
  .mySwiper9 {
  /* Добавляем отступы по бокам, чтобы стрелки не закрывали контент */
  /* padding: 0 40px !important;  */
   height: 500px;
width: 90%;
  }
}
@media (min-width: 540px) and (max-width: 968px) {
  /* .mySwiper9 {
  /* Добавляем отступы по бокам, чтобы стрелки не закрывали контент
  /* padding: 0 40px !important;  */
   /* height: 500px;
width: 1150px; 
  } */
}
