@media (min-width: 540px) and (max-width: 968px) {
    .main__catalog {
        padding: 0 2.3% 0 2.3%;
    }

    .block__sort__component {
        display: none !important;
    }

    .button__show__filter {
        display: block !important;
        background-color: transparent !important;
        width: min-content !important;
        height: min-content !important;
        margin-top: auto !important;
        margin-bottom: auto !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .katalog__container__sort h2 {
        font-size: 30px;
        line-height: 46px;
    }

    .categoty__title {
        color: black;
        font-size: 25px !important;
    }

    .category__side span {
        color: black;
        font-size: 16px;

    }

    .closeFilter__container img {
        display: block !important;
    }

    .sort__container {
        width: 502px !important;
        margin-right: 0px !important;
    }

    .catalog__kard {
        /* width: 221px !important;
        height: 371px !important;
        margin-bottom: 30px; */
    width: 31% !important;
        height: 460px !important;
        margin-bottom: 22px;
    }
    .catalog__category{
        height: 43px;
        display: flex;
        align-items: center;
    }

    .catalog__kard img {
        width: 100% !important;
        height: 167px;
    }

    .catalog__title {
        width: 131px;
        height: 26px;
    }

    .catalog__title p {
        font-size: 12.5px;
    }

    .catalog__like__container h3 {
        font-size: 16px;
    }

    .catalog__like__container {
        margin-top: 3%;
        padding-left: 5%;
        padding-right: 4%;
        height: 122px;
    }

    .catalog__like__container .image-like {
        width: 18px;
        height: 17px;
        border-radius: 0;
        position: relative;
        left: 0%;
    }

    .likes__update__for__card p {
        font-size: 16px;
    }

    .catalog__matherial__title {
        font-size: 12px;
        padding-left: 4.23%;
    }

    .catalog__block__price p {
        font-size: 16px;
    }

    .catalog__price__button {
        width: 117px;
        height: 37px;
        font-size: 14px !important;
        border-radius: 5px !important;
    }

    .button__show__more {
        width: 182px;
        height: 57px;
        font-size: 16px !important;
    }

    .button__container__manager {
        display: none;
    }

    .sort__card__container {
        display: flex;
        flex-direction: column;
    }

    .connect__manager__container {
        display: flex;
        width: 100%;
    }
    .connect__manager__container button{
        margin-top: -30px!important;
        margin-bottom: 30px;
        width: 100%;
    }
    /* .catalog__button__form{
        margin-top: 30px!important;
    } */
}