@media (min-width: 1441px) and (max-width: 1770px)  {
        .section-bestseller{
            padding: 0 2.3% 0 2.3% !important;
            min-height: 850px;
            margin-top: 0px!important;
            overflow: hidden;
        }
    
        .section-bestseller h2{
            font-size: 30px;
        }
    
        .card-bestseller{
            width: 430px !important;
            height: 532px;
        }
        
        .card-bestseller img{
            width: 430px !important;
        height: 295px;
        border-radius: 15px 15px 0 0;
        }
        
      
        .main__form-section {
            display: flex
        ;
            justify-content: space-between;
            padding: 0 10% 0 11%;
            align-items: center;
            margin-top: 85px !important;
            margin-bottom: 108px;
        }
}