.sort__container {
    box-sizing: border-box;
    width: 338px;
    min-height:  min-content;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-right: 30px;
}
.sort__container *{
    box-sizing: border-box!important;
  margin: 0!important;
}

.categoty__title{
    font-family: 'Gotham'!important;
  font-weight: 700!important;
  font-size: 22px!important;
  line-height: 34px!important;
}

.category__side span{
    font-family: 'M-l'; 
    font-weight: 400;
    font-size: 18px;
    line-height: 27.94px ;
}
.category__side {
    margin-top: 15px!important;
  margin-left: -10px!important;
}

.input__group{
    display: flex;
    justify-content:flex-start;
    width: 100%;

}
.input__group input{
 width: 110px;
 height: 44px;
 margin-right: 15px!important;
 box-sizing: border-box;
 border-radius: 2px;
 padding: 0px 15px;
 border: 1px solid #B3B3B3;
 font-family: 'M-l'; 
 font-weight: 400;
 font-size: 16px;
 line-height: 24.83px;
}
.input__group input:focus{
    border: 1px solid #EA899A!important;
    outline: none;
}
.input__group input::placeholder{
    font-family: 'M-l'; 
    font-weight: 400;
    font-size: 16px;
    line-height: 24.83px;
}
.input__group input::-webkit-inner-spin-button,
.input__group input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.slider__category{
    color: #EA899A!important;
    margin-top: 20px!important;
}
.checkbox__length__container{
    display: flex;
    flex-direction: column;
}

.checkbox__length span{
    font-family: 'M-l'; 
    font-weight: 400;
    font-size: 18px;
    line-height: 27.94px ;
}

.accordion__padding{
    padding: 0px !important;
    margin-top: 20px!important;
    margin-bottom: 20px!important;
}

.block__sort__radio__container{
    margin-top: 20px!important;
}

.accordion__padding__content{
    padding-left: 0px!important;
}

@media (min-width: 969px) and (max-width: 1440px)  {
    .sort__container {
        width: 270px;
        padding: 15px;
        margin-right: 25px;
    }
    .categoty__title{
      font-size: 18px!important;
    }
    
    .category__side span{
        font-size: 16px;
    }    
    .checkbox__length span{
        font-size: 16px;
    }        
}