@media (max-width: 539px) {
  .main__product__page {
    padding: 0 2.3% 0 2.3%;

  }

  .bread__crumbs {
    margin-top: 20px!important;
    margin-bottom: 15px!important;
    font-size: 14px!important;
  
    height: 40px;
  }
  .bread__crumbs > nav > ol > li > p {
    font-size: 14px!important;
  }
  .bread__crumbs > nav > ol > li{
    margin: 0px !important;
  }
  .bread__crumb__link {
    margin-right: 0px!important;
    font-size: 14px!important;
  }

  .slider__select__color__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: white;
  }

  .slider__select__color__container .select__color__semi__container {
    width: 100%;
  }

 

  .select__color__container {
    width: 100%;
    height: 387px;
    margin: 0px auto;
    padding: 0px 11px;
  }
  .rotate__container {
    transform: rotate(0deg);
    width: 100% !important;
  }

  .select__color__header h2 {
    font-size: 25px;
  }
  .select__color__header__likes {
    font-size: 16px;
  }

  .select__color__header__likes span svg {
    width: 25px !important;
    height: 26px !important;
  }

  .select__color__material span {
    font-size: 14px;
    margin-right: 22px;
  }
  .select__color__block span {
    font-size: 14px;
    margin-right: 22px;
  }
  .select__color__material,
  .select__color__block {
    font-size: 14px;
    margin-bottom: 25px;
  }

  .select__color__tablet {
    margin-bottom: 25px !important;
    margin-top: 25px;
  }

  .select__tablet {
    height: 30px;
  }

  .textSelect {
    font-size: 16px !important;
  }
  .priceProduct__containe p {
    margin: 0;
    font-size: 25px;
  }

  .product__button {
    width: 177px;
    height: 44px;
    font-size: 18px !important;
  }

  .tabs__product {
    width: 33.3%;
    margin-right: 0% !important;
    font-size: 14px !important;
}

.tabPanel__pading {
  padding: 0!important;
}
.mainAboutProductContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
  .aboutProductConatainer {
  width: 100%;
}
    .aboutProductConatainer *{
  width: 100%;
}
  .aboutProductConatainer > h3 {
    margin-top: 47px;
    font-size: 20px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .aboutProductConatainer > p {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .aboutProductConatainer > h4 {
    font-size: 16px;
    font-family: "Gotham";
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 155%;
     padding-left: 10px;
    padding-right: 10px;
  }

  .image__mobille__tab{
  display: block;
  width:100%;
  height: 251px;
}
.noimage__mobille__tab{
  display: none;
}
.images__group__mobile{
  display: none;
}

 .slider__mobile__product .swiper-slide {
  width: 70%;
}

.slider__mobile__product .swiper-slide:nth-child(2n) {
  width: 70%;
}
.slider__mobile__product .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__mobile__product .slider__mobile__product{
  width: 100%;
}
.slider__mobile__product .mySwiper5 {
  display: block;
}
}
