@media (max-width: 539px) {
    .delivery__container {
        width: 100%;
        justify-content: space-between;
    }

    .delivery__map__container__display__none {
        display: none;
    }

    .delivery__map__container__tablet {
        display: block;

    }

    .delivery__map__container__tablet img {
        width: 100%;
        border-radius: 5px;
    }

    .delivery__main {
        padding: 0 2.3% 0 2.3%;
    }

    .delivery__info__container__tablet {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .delivery__info__text_width {
        width: 100%;
    }

    .delivery__info__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }

    .delivery__section__title h2 {
        font-size: 20px;
    }

    .delivery__info__title {
        font-size: 16px;
    }

    .delivery__info__text {
        font-size: 14px;
    }

    .returnToCatalog {
        font-size: 16px;
    }

    .delivery__info_conditions_container {
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }


    .delivery__info_conditions_container div {
        margin-right: 0px;
    }

    .delivery__info__method__select {
        margin-top: 40px;
        flex-direction: column;
        height: 310px;
    }

    .delivery__dopInfo__container {
        height: 300px;
        justify-content: flex-start;
    }

    .delivery__dopInfo__container__section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        padding-bottom: 30px;
    }

    .delivery__group__container__social {
        display: flex;
        width: 100% !important;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 150px;
    }

    .del__but__margin {
        margin-top: 0px !important;
    }

    .delivery__title__align {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    .delivery__info_title__mobile__align {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    .delivery__info__method__container {
        margin-top: 40px;
    }

    .track__select {
        width: 240px;
        height: 80px;
        margin-right: 0px;
        cursor: none;
    }

    .delivery__info__title_size {
        font-size: 16px !important;
    }

    .del__but__margin {
        margin-top: 10px !important;
        border: 1.5px solid var(--main-bg-color) !important;
    }

    .delivery__footer-title {
        text-align: center;
    }

    .delivery__social__icons__align {
        margin-left: auto;
        margin-right: auto;
    }
}